---
// Simple logo component
---

<a href="/" class="inline-flex gap-4 items-center">
  <img class="h-[25px]" src="/images/nr-logo.png" alt="Nr Gruas"><span class="text-xl font-heading font-bold text-white">Gruas</span>
</a>